* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #444444;
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.8);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}

a {
  color: #ffffff;
  text-decoration: none;
}

.text-secondary {
  color: #eece1a;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #eece1a;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
}

.about-info .job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1;
}

.about-info .job-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2;
}

.about-info .job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #eece1a 5px solid;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.7rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.projects img {
  width: 100%;
  border: 3px #ffffff solid;
}

.projects img:hover {
  opacity: 0.5;
  border-color: #eece1a;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5 rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: #eece1a;
  color: set-text-color #eece1a;
}

.btn-dark {
  background: black;
  color: #ffffff;
}

.btn-light {
  background: #c4c4c4;
  color: #333333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #ffffff;
  height: 60px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  bottom: 0;
  overflow: hidden;
  z-index: 8;
}

@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .bio-image {
    width: 70%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .bio-image {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  .bio-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 65%;
  }
  .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 2rem;
    font-size: 4rem;
  }
  main .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main .bio-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 65%;
  }
  main #main-footer {
    width: 100%;
  }
  main #myName {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */